.recommendation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-top: -20%;
}
.container-recommendation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    /* border: 1px solid rgb(37, 1, 9); */
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
    padding: 15px 10px;
    width: 80%;
}
.header-recommendation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    /* border: 1px solid grey; */
    width: 80%;
}

.body-recommendation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    /* border: 1px solid orangered; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
}
/* .volume-camion {
    border: 1px solid lightgreen;
} */
.valeur-volume {
    color: #FF7276;
}
.body-logo-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    /* border: 1px solid lightblue; */
}
.info-camion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    font-size: 0.8em;
    /* border: 1px solid cadetblue; */
}
.bi-truck {
    margin-left: 15px;
    margin-right: 15px;
}
/* .elem-info-camion {
     border: 1px solid purple; 
} */
.titre-conseil {
    color: #FF7276;
}
.recommendation .btn {
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 0px;
}
.btn-ok{
    width: 80%;
    font-size: 1.2em;
    background-color: #FF7276;
    color: white;  
}
.btn-non {
    width: 50%;
    font-size: 1.1em;
    color: rgb(140, 140, 140);
}