<<<<<<< Updated upstream
.le_cercle{
    margin: 10px;
    width: 100px;
    background: #FF0000;
    height: 100px;
    text-align: center;
    border-radius: 100px;
}

.image_carton_virtuel{
    border-radius: 5px;
}
=======
>>>>>>> Stashed changes
