.btn_carton_virtuel{
    padding-top: 1%;
    height: 100%;
}

.texte_carton_virtuel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    font-variant-caps: all-small-caps;
}

.image_carton_virtuel{
    border-radius: 5px;
}