.boite{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    background-color: #dc3545;
    border-radius: 10px;
  }
.nbElements{
    color: #fff;
    padding: 16px;
}
.surfaceTotal{
    color: #fff;
    padding: 16px;
}   
.boutons{
    background-color: #dc3545;
    border-color: #fff;
    margin: 16px;
    border-radius: 5px;
} 